# EDA

In [68]:
import numpy as np
import pandas as pd
#import pickle
from functions import get_current_weekday, calculate_nfl_week, get_next_sunday, get_current_year

In [69]:
day = get_current_weekday()

In [70]:
date_string = get_next_sunday(day)

In [71]:
week = calculate_nfl_week(date_string)

In [72]:
season = get_current_year()

In [73]:
fd_def_df = pd.read_csv('FD_def_for_model_' + str(season) + '_' + str(week) + '.csv')
dk_def_df = pd.read_csv('DK_def_for_model_' + str(season) + '_' + str(week) + '.csv')

In [74]:
fd_def_df.head()

,position,salary,team,opponent,date,week,season,spread_line,home_team,outdoors,grass,total_line,opp_total,opp_vs_def_L8,opp_vs_def_L8_lin,opp_vs_def_L8_exp
0,D,5000,LV,CAR,09-22-2024,3,2024,6.5,1,0,0,39.5,16.50,12.000,13.24,12.680
1,D,4900,CLE,NYG,09-22-2024,3,2024,6.5,1,1,1,38.5,16.00,9.000,9.72,9.420
2,D,4800,PIT,LAC,09-22-2024,3,2024,3.0,1,1,1,34.5,15.75,10.125,8.09,6.955
3,D,4700,TB,DEN,09-22-2024,3,2024,6.5,1,1,1,40.5,17.00,8.375,9.68,9.800
4,D,4600,SEA,MIA,09-22-2024,3,2024,4.5,1,1,0,42.5,19.00,8.125,10.34,10.640

In [75]:
dk_def_df.head()

,position,salary,team,opponent,date,week,season,spread_line,home_team,outdoors,grass,total_line,opp_total,opp_vs_def_L8,opp_vs_def_L8_lin,opp_vs_def_L8_exp
0,D,3800,CLE,NYG,09-22-2024,3,2024,6.5,1,1,1,38.0,15.75,9.000,9.72,9.420
1,D,3700,LV,CAR,09-22-2024,3,2024,6.0,1,0,0,40.0,17.00,12.000,13.24,12.680
2,D,3600,LAC,PIT,09-22-2024,3,2024,-3.0,0,1,1,34.5,18.75,5.250,5.07,4.975
3,D,3500,SEA,MIA,09-22-2024,3,2024,4.5,1,1,0,42.0,18.75,8.125,10.34,10.640
4,D,3500,SF,LAR,09-22-2024,3,2024,6.5,0,0,0,43.0,18.25,6.375,7.05,7.175

In [76]:
fd_def_df = fd_def_df.drop(columns = ['date'])
dk_def_df = dk_def_df.drop(columns = ['date'])

In [77]:
fd_def_df['name'] = fd_def_df['team']
dk_def_df['name'] = dk_def_df['team']

In [78]:
fd_def_df['status'] = 'Active'
dk_def_df['status'] = 'Active'

In [79]:
fd_def_df.describe().T

,count,mean,std,min,25%,50%,75%,max
salary,26.0,3961.538462,564.323966,3000.000,3600.0000,3900.000,4375.00000,5000.000
week,26.0,3.000000,0.000000,3.000,3.0000,3.000,3.00000,3.000
season,26.0,2024.000000,0.000000,2024.000,2024.0000,2024.000,2024.00000,2024.000
spread_line,26.0,0.000000,4.340507,-6.500,-3.0000,0.000,3.00000,6.500
home_team,26.0,0.500000,0.509902,0.000,0.0000,0.500,1.00000,1.000
outdoors,26.0,0.384615,0.496139,0.000,0.0000,0.000,1.00000,1.000
grass,26.0,0.384615,0.496139,0.000,0.0000,0.000,1.00000,1.000
total_line,26.0,43.192308,4.773001,34.500,39.5000,43.500,46.50000,51.500
opp_total,26.0,21.596154,3.225738,15.750,18.8125,22.500,23.50000,27.250
opp_vs_def_L8,26.0,6.877404,2.819934,1.625,5.0625,6.875,8.37500,12.125
opp_vs_def_L8_lin,26.0,7.042500,3.129377,0.600,5.0250,6.960,8.69250,13.240
opp_vs_def_L8_exp,26.0,6.850288,3.009740,0.520,4.7800,6.840,8.61625,12.680

In [80]:
dk_def_df.describe().T

,count,mean,std,min,25%,50%,75%,max
salary,24.0,2983.333333,469.659143,2300.000,2575.00000,3000.00000,3325.00000,3800.000
week,24.0,3.000000,0.000000,3.000,3.00000,3.00000,3.00000,3.000
season,24.0,2024.000000,0.000000,2024.000,2024.00000,2024.00000,2024.00000,2024.000
spread_line,24.0,0.000000,4.343911,-6.500,-3.00000,0.00000,3.00000,6.500
home_team,24.0,0.500000,0.510754,0.000,0.00000,0.50000,1.00000,1.000
outdoors,24.0,0.416667,0.503610,0.000,0.00000,0.00000,1.00000,1.000
grass,24.0,0.416667,0.503610,0.000,0.00000,0.00000,1.00000,1.000
total_line,24.0,42.875000,4.934902,34.500,39.50000,42.50000,46.37500,51.500
opp_total,24.0,21.437500,3.287203,15.750,18.62500,22.25000,23.56250,27.250
opp_vs_def_L8,24.0,6.955729,2.908972,1.625,5.18750,6.87500,8.53125,12.125
opp_vs_def_L8_lin,24.0,7.106875,3.248325,0.600,4.88250,7.02500,9.06500,13.240
opp_vs_def_L8_exp,24.0,6.914062,3.128538,0.520,4.68125,6.97625,8.91375,12.680

In [81]:
fd_qb_df = pd.read_csv('FD_qb_for_model_' + str(season) + '_' + str(week) + '.csv')
dk_qb_df = pd.read_csv('DK_qb_for_model_' + str(season) + '_' + str(week) + '.csv')

In [82]:
fd_qb_df.head()

,name,team,position,salary,opponent,status,season,week,FD_Pts_DvP,DK_Pts_DvP,...,int_pct,wind,div_game,spread_line,total_line,outdoors,grass,home_team,pred_total,opp_total
0,Lamar Jackson,BAL,QB,8800,DAL,Active,2024,3,15.3100,15.5600,...,0.015564,0,0,1.5,47.5,0,0,0,24.50,23.00
1,Patrick Mahomes,KC,QB,8700,ATL,Active,2024,3,17.9225,18.2975,...,0.018182,0,0,3.0,46.5,0,0,0,24.75,21.75
2,Jalen Hurts,PHI,QB,8500,NO,Active,2024,3,14.7625,15.7625,...,0.034188,0,0,-2.5,49.5,0,0,0,23.50,26.00
3,Kyler Murray,ARI,QB,8300,DET,Active,2024,3,20.8225,23.0725,...,0.011628,0,0,-3.0,51.5,0,1,1,24.25,27.25
4,C.J. Stroud,HOU,QB,8200,MIN,Active,2024,3,15.4100,16.9100,...,0.000000,0,0,1.5,45.5,0,1,0,23.50,22.00

In [83]:
dk_qb_df.head()

,name,team,position,salary,opponent,status,season,week,FD_Pts_DvP,DK_Pts_DvP,...,int_pct,wind,div_game,spread_line,total_line,outdoors,grass,home_team,pred_total,opp_total
0,Lamar Jackson,BAL,QB,7500,DAL,Active,2024,3,15.3100,15.5600,...,0.015564,0,0,1.0,47.5,0,0,0,24.25,23.25
1,Jalen Hurts,PHI,QB,7300,NO,Active,2024,3,14.7625,15.7625,...,0.034188,0,0,-3.0,49.5,0,0,0,23.25,26.25
2,C.J. Stroud,HOU,QB,7100,MIN,Active,2024,3,15.4100,16.9100,...,0.000000,0,0,1.5,46.0,0,1,0,23.75,22.25
3,Kyler Murray,ARI,QB,6900,DET,Active,2024,3,20.8225,23.0725,...,0.011628,0,0,-3.0,51.5,0,1,1,24.25,27.25
4,Anthony Richardson,IND,QB,6700,CHI,Active,2024,3,14.3400,15.4650,...,0.040000,0,0,1.0,43.5,0,0,1,22.25,21.25

In [84]:
fd_qb_df.describe().T

,count,mean,std,min,25%,50%,75%,max
salary,104.0,6377.884615,713.116602,6000.0000,6000.000000,6000.000000,6525.000000,8800.000000
season,104.0,2024.000000,0.000000,2024.0000,2024.000000,2024.000000,2024.000000,2024.000000
week,104.0,3.000000,0.000000,3.0000,3.000000,3.000000,3.000000,3.000000
FD_Pts_DvP,104.0,16.998317,2.302545,12.9600,14.933125,17.215000,18.552500,21.532500
DK_Pts_DvP,104.0,17.726082,2.526988,13.5225,15.536250,17.537500,19.487500,23.072500
QB_role,104.0,1.750000,0.435110,1.0000,1.750000,2.000000,2.000000,2.000000
completions_L8,104.0,15.353845,6.328316,0.0000,12.375000,17.934557,18.850000,26.125000
attempts_L8,104.0,24.232442,9.513383,0.0000,20.937500,27.858042,29.156250,38.750000
passing_yards_L8,104.0,165.806549,69.320151,0.0000,137.250000,196.675264,196.675264,297.000000
passing_tds_L8,104.0,0.896670,0.560044,0.0000,0.500000,1.125000,1.160233,2.500000
interceptions_L8,104.0,0.618516,0.343281,0.0000,0.500000,0.626882,0.750000,2.000000
sacks_L8,104.0,1.931230,0.975620,0.0000,1.364583,2.028619,2.250000,4.500000
passing_air_yards_L8,104.0,187.178254,74.320245,0.0000,162.100000,216.096476,225.125000,316.750000
pacr_L8,104.0,0.997558,0.408604,0.0000,0.834110,0.965633,1.009580,3.052239
carries_L8,104.0,3.288213,1.716780,0.0000,2.000000,3.660838,3.660838,10.125000
rushing_yards_L8,104.0,13.975494,11.575507,-2.0000,4.291667,16.073296,16.073296,71.000000
rushing_tds_L8,104.0,0.126089,0.146252,0.0000,0.000000,0.125000,0.181888,0.800000
comp_pct,104.0,0.626675,0.097873,0.0000,0.612258,0.643784,0.645231,1.000000
yds_per_attempt,104.0,6.987461,3.268020,0.0000,6.282258,7.059910,7.087321,37.000000
td_pct,104.0,0.033934,0.018113,0.0000,0.021692,0.041614,0.041648,0.093023
sack_pct,104.0,0.082615,0.049729,0.0000,0.064413,0.072820,0.084992,0.333333
int_pct,104.0,0.027993,0.023072,0.0000,0.019122,0.022503,0.032741,0.200000
wind,104.0,1.548077,2.052135,0.0000,0.000000,0.000000,4.000000,5.000000
div_game,104.0,0.076923,0.267760,0.0000,0.000000,0.000000,0.000000,1.000000
spread_line,104.0,0.125000,4.230466,-6.5000,-3.000000,1.500000,3.000000,6.500000
total_line,104.0,43.192308,4.731791,34.5000,39.500000,43.500000,46.500000,51.500000
outdoors,104.0,0.394231,0.491051,0.0000,0.000000,0.000000,1.000000,1.000000
grass,104.0,0.375000,0.486467,0.0000,0.000000,0.000000,1.000000,1.000000
home_team,104.0,0.471154,0.501584,0.0000,0.000000,0.000000,1.000000,1.000000
pred_total,104.0,21.658654,3.257377,15.7500,18.750000,22.500000,23.687500,27.250000
opp_total,104.0,21.533654,3.087529,15.7500,18.750000,22.500000,23.500000,27.250000

In [85]:
dk_qb_df.describe().T

,count,mean,std,min,25%,50%,75%,max
salary,74.0,4862.162162,932.914523,4000.0000,4000.000000,4700.000000,5375.000000,7500.000000
season,74.0,2024.000000,0.000000,2024.0000,2024.000000,2024.000000,2024.000000,2024.000000
week,74.0,3.000000,0.000000,3.0000,3.000000,3.000000,3.000000,3.000000
FD_Pts_DvP,74.0,16.723649,2.418428,12.9600,14.486875,16.540000,18.252500,21.532500
DK_Pts_DvP,74.0,17.482939,2.685390,13.5225,15.465000,16.910000,19.390000,23.072500
QB_role,74.0,1.675676,0.471317,1.0000,1.000000,2.000000,2.000000,2.000000
completions_L8,74.0,15.168057,6.590570,0.0000,11.875000,17.934557,19.218750,26.125000
attempts_L8,74.0,24.014922,9.964647,0.5000,20.000000,27.858042,31.093750,38.750000
passing_yards_L8,74.0,163.044725,73.305618,0.0000,115.250000,190.687500,196.675264,297.000000
passing_tds_L8,74.0,0.874925,0.604000,0.0000,0.343750,1.000000,1.160233,2.500000
interceptions_L8,74.0,0.589529,0.368383,0.0000,0.375000,0.625000,0.750000,2.000000
sacks_L8,74.0,1.930173,1.035305,0.0000,1.250000,2.028619,2.343750,4.500000
passing_air_yards_L8,74.0,186.610498,78.235189,4.0000,149.531250,216.096476,240.350000,316.750000
pacr_L8,74.0,0.991372,0.415665,0.0000,0.821348,0.965633,1.036857,3.052239
carries_L8,74.0,3.348479,1.905943,0.6250,2.000000,3.062500,4.000000,10.125000
rushing_yards_L8,74.0,14.264735,13.118812,-2.0000,3.625000,15.312500,19.718750,71.000000
rushing_tds_L8,74.0,0.126207,0.165051,0.0000,0.000000,0.125000,0.181888,0.800000
comp_pct,74.0,0.624467,0.113758,0.0000,0.600093,0.642544,0.655237,1.000000
yds_per_attempt,74.0,6.957966,3.820563,0.0000,6.023245,7.032468,7.271951,37.000000
td_pct,74.0,0.032652,0.020107,0.0000,0.017298,0.039117,0.041648,0.093023
sack_pct,74.0,0.085615,0.056508,0.0000,0.063552,0.072820,0.095858,0.333333
int_pct,74.0,0.025542,0.016776,0.0000,0.016167,0.022503,0.033706,0.095238
wind,74.0,1.567568,2.087675,0.0000,0.000000,0.000000,4.000000,5.000000
div_game,74.0,0.094595,0.294652,0.0000,0.000000,0.000000,0.000000,1.000000
spread_line,74.0,0.020270,4.292746,-6.5000,-3.000000,0.000000,3.000000,6.500000
total_line,74.0,43.040541,4.824138,34.5000,40.000000,43.000000,47.125000,51.500000
outdoors,74.0,0.391892,0.491505,0.0000,0.000000,0.000000,1.000000,1.000000
grass,74.0,0.405405,0.494322,0.0000,0.000000,0.000000,1.000000,1.000000
home_team,74.0,0.486486,0.503229,0.0000,0.000000,0.000000,1.000000,1.000000
pred_total,74.0,21.530405,3.224466,15.7500,18.750000,22.250000,23.687500,27.250000
opp_total,74.0,21.510135,3.233080,15.7500,18.750000,22.250000,23.687500,27.250000

In [86]:
fd_flex_df = pd.read_csv('FD_FLEX_for_model_' + str(season) + '_' + str(week) + '.csv')
dk_flex_df = pd.read_csv('DK_FLEX_for_model_' + str(season) + '_' + str(week) + '.csv')

In [87]:
fd_flex_df.head()

,name,team,position,salary,opponent,status,season,week,index,DK_Pts_RB_DvP,...,pos_WR,qb_comp,qb_att,qb_yds,qb_pass_td,qb_int,qb_comp_pct,qb_yds_per_att,qb_td_pct,qb_int_pct
0,CeeDee Lamb,DAL,WR,9300,BAL,Active,2024,3,0,22.7500,...,1,26.125,38.750,269.625,1.875,0.875,0.674194,6.958065,0.048387,0.022581
1,Justin Jefferson,MIN,WR,9200,HOU,Active,2024,3,1,18.6875,...,1,7.875,11.875,96.500,0.750,0.375,0.663158,8.126316,0.063158,0.031579
2,Amon-Ra St. Brown,DET,WR,9100,ARI,Active,2024,3,2,27.7100,...,1,25.125,37.500,276.125,1.125,0.625,0.670000,7.363333,0.030000,0.016667
3,Tyreek Hill,MIA,WR,9000,SEA,Active,2024,3,3,27.3350,...,1,8.375,16.375,83.500,0.250,0.500,0.511450,5.099237,0.015267,0.030534
4,Saquon Barkley,PHI,RB,8700,NO,Active,2024,3,4,19.2875,...,0,19.000,29.250,196.750,1.000,1.000,0.649573,6.726496,0.034188,0.034188

In [88]:
dk_flex_df.head()

,name,team,position,salary,opponent,status,season,week,index,DK_Pts_RB_DvP,...,pos_WR,qb_comp,qb_att,qb_yds,qb_pass_td,qb_int,qb_comp_pct,qb_yds_per_att,qb_td_pct,qb_int_pct
0,CeeDee Lamb,DAL,WR,8800,BAL,Active,2024.0,3,0,22.7500,...,1.0,26.125,38.750,269.625,1.875,0.875,0.674194,6.958065,0.048387,0.022581
1,Justin Jefferson,MIN,WR,8600,HOU,Active,2024.0,3,1,18.6875,...,1.0,7.875,11.875,96.500,0.750,0.375,0.663158,8.126316,0.063158,0.031579
2,Tyreek Hill,MIA,WR,8400,SEA,Active,2024.0,3,3,27.3350,...,1.0,8.375,16.375,83.500,0.250,0.500,0.511450,5.099237,0.015267,0.030534
3,Amon-Ra St. Brown,DET,WR,8200,ARI,Active,2024.0,3,4,27.7100,...,1.0,25.125,37.500,276.125,1.125,0.625,0.670000,7.363333,0.030000,0.016667
4,Saquon Barkley,PHI,RB,7700,NO,Active,2024.0,3,7,19.2875,...,0.0,19.000,29.250,196.750,1.000,1.000,0.649573,6.726496,0.034188,0.034188

In [89]:
fd_flex_df = fd_flex_df.drop(columns = ['index'])
dk_flex_df = dk_flex_df.drop(columns = ['index'])

In [90]:
fd_flex_df.describe().T

,count,mean,std,min,25%,50%,75%,max
salary,688.0,4498.691860,977.094900,4000.000000,4000.000000,4000.000000,4525.000000,9300.000000
season,688.0,2024.000000,0.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000
week,688.0,3.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000
DK_Pts_RB_DvP,688.0,22.471486,3.048577,16.912500,20.300000,22.325000,23.587500,29.262500
DK_Pts_TE_DvP,688.0,12.310756,2.074307,8.362500,11.200000,11.825000,13.437500,16.025000
DK_Pts_WR_DvP,688.0,33.506595,6.097473,25.900000,29.322500,31.462500,35.037500,53.725000
FD_Pts_RB_DvP,688.0,19.474393,2.894935,15.287500,17.450000,19.137500,21.312500,26.325000
FD_Pts_TE_DvP,688.0,9.719822,1.751329,6.550000,8.450000,9.300000,10.875000,13.175000
FD_Pts_WR_DvP,688.0,26.805287,4.908874,21.275000,23.862500,24.762500,27.725000,42.537500
rushing_yards_L8,688.0,8.085188,16.523840,-1.500000,0.000000,1.400929,3.812500,95.375000
rushing_tds_L8,688.0,0.053992,0.139056,0.000000,0.000000,0.002071,0.011202,1.000000
rushing_fumbles_lost_L8,688.0,0.007699,0.031667,0.000000,0.000000,0.000000,0.002076,0.500000
receptions_L8,688.0,2.211632,1.241568,0.000000,1.250000,2.375000,3.094068,8.000000
receiving_yards_L8,688.0,24.234364,17.016084,-10.000000,11.000000,24.395833,38.924166,103.500000
receiving_tds_L8,688.0,0.145457,0.145039,0.000000,0.000000,0.125000,0.227280,1.000000
receiving_fumbles_lost_L8,688.0,0.011239,0.027893,0.000000,0.000000,0.000000,0.021042,0.500000
targets_L8,688.0,3.350349,1.919119,0.000000,1.843750,3.473142,4.875407,12.500000
carries_L8,688.0,1.988787,3.952639,0.000000,0.000000,0.228822,0.776786,20.375000
receiving_yards_after_catch_L8,688.0,11.079558,7.102764,-10.000000,6.000000,12.053868,13.208876,55.250000
receiving_air_yards_L8,688.0,26.972883,25.428708,-8.625000,2.543750,23.084057,51.852918,140.875000
target_share_L8,688.0,0.105552,0.059087,0.000000,0.058412,0.108579,0.150744,0.425439
carry_share_L8,688.0,0.074813,0.147939,0.000000,0.000000,0.008819,0.030187,0.785375
in_10_share_L8,688.0,0.076920,0.082560,0.000000,0.024708,0.065854,0.073000,0.575125
yards_per_carry_L8,688.0,3.137191,3.017510,-12.000000,0.000000,3.064286,6.122339,23.000000
yards_per_reception_L8,688.0,10.043027,4.018276,-5.000000,7.204647,10.387497,12.580256,29.250000
yards_per_target_L8,688.0,6.761760,2.567797,-5.000000,5.568388,7.276440,7.983777,18.000000
wind,688.0,1.552326,2.056026,0.000000,0.000000,0.000000,4.000000,5.000000
div_game,688.0,0.063953,0.244848,0.000000,0.000000,0.000000,0.000000,1.000000
spread_line,688.0,-0.064680,4.211195,-6.500000,-3.000000,-1.500000,3.000000,6.500000
total_line,688.0,43.196221,4.711705,34.500000,39.500000,43.500000,46.500000,51.500000
outdoors,688.0,0.390988,0.488327,0.000000,0.000000,0.000000,1.000000,1.000000
grass,688.0,0.377907,0.485217,0.000000,0.000000,0.000000,1.000000,1.000000
home_team,688.0,0.504360,0.500345,0.000000,0.000000,1.000000,1.000000,1.000000
pred_total,688.0,21.565770,3.172609,15.750000,18.750000,22.500000,23.500000,27.250000
opp_total,688.0,21.630451,3.146699,15.750000,18.750000,22.500000,23.500000,27.250000
pos_RB,688.0,0.252907,0.434994,0.000000,0.000000,0.000000,1.000000,1.000000
pos_TE,688.0,0.261628,0.439841,0.000000,0.000000,0.000000,1.000000,1.000000
pos_WR,688.0,0.485465,0.500152,0.000000,0.000000,0.000000,1.000000,1.000000
qb_comp,688.0,18.678234,5.626950,4.375000,17.625000,20.125000,22.250000,26.125000
qb_att,688.0,28.898292,8.034330,6.375000,26.875000,31.750000,34.375000,38.750000
qb_yds,688.0,201.108503,62.980777,41.375000,163.000000,220.500000,250.500000,297.000000
qb_pass_td,688.0,1.120531,0.675288,0.000000,0.625000,1.125000,1.625000,2.500000
qb_int,688.0,0.608140,0.372112,0.000000,0.375000,0.500000,0.800000,2.000000
qb_comp_pct,688.0,0.643294,0.051840,0.511450,0.618421,0.655303,0.674194,0.748837
qb_yds_per_att,688.0,6.963139,1.055389,4.045455,6.488506,7.068182,7.760870,8.937008
qb_td_pct,688.0,0.038848,0.021074,0.000000,0.021930,0.038760,0.050000,0.093023
qb_int_pct,688.0,0.022097,0.011476,0.000000,0.013158,0.019685,0.030534,0.051948

In [91]:
dk_flex_df.describe().T

,count,mean,std,min,25%,50%,75%,max
salary,434.0,3803.456221,1307.488483,2500.000000,3000.000000,3200.000000,4375.000000,8800.000000
season,430.0,2024.000000,0.000000,2024.000000,2024.000000,2024.000000,2024.000000,2024.000000
week,434.0,3.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000
DK_Pts_RB_DvP,434.0,22.639154,3.110029,16.912500,20.300000,22.462500,23.587500,29.262500
DK_Pts_TE_DvP,434.0,12.293824,2.043198,8.362500,11.300000,12.087500,13.350000,16.025000
DK_Pts_WR_DvP,434.0,34.046626,6.206174,25.900000,29.753125,32.737500,36.312500,53.725000
FD_Pts_RB_DvP,434.0,19.637077,2.924265,15.287500,17.506250,18.900000,21.312500,26.325000
FD_Pts_TE_DvP,434.0,9.748360,1.762336,6.550000,8.612500,9.525000,10.809375,13.175000
FD_Pts_WR_DvP,434.0,27.234998,4.986991,21.275000,23.910625,26.112500,29.159375,42.537500
rushing_yards_L8,434.0,9.046776,18.530088,-1.500000,0.000000,0.750000,4.316964,95.375000
rushing_tds_L8,434.0,0.060241,0.160602,0.000000,0.000000,0.000000,0.011202,1.000000
rushing_fumbles_lost_L8,434.0,0.007864,0.030079,0.000000,0.000000,0.000000,0.002076,0.250000
receptions_L8,434.0,2.220298,1.357057,0.000000,1.148810,2.000000,3.094068,8.000000
receiving_yards_L8,434.0,24.188378,18.441166,0.000000,10.000000,21.375000,38.924166,103.500000
receiving_tds_L8,434.0,0.146781,0.161629,0.000000,0.000000,0.125000,0.227280,1.000000
receiving_fumbles_lost_L8,434.0,0.009701,0.023944,0.000000,0.000000,0.000000,0.011683,0.125000
targets_L8,434.0,3.364893,2.084258,0.000000,1.625000,3.000000,4.875407,12.500000
carries_L8,434.0,2.200887,4.364800,0.000000,0.000000,0.214411,1.000000,20.375000
receiving_yards_after_catch_L8,434.0,11.216811,7.627580,0.000000,5.875000,12.053868,13.208876,54.000000
receiving_air_yards_L8,434.0,26.521423,27.318299,-8.625000,1.892857,21.125000,51.852918,140.875000
target_share_L8,434.0,0.106675,0.064292,0.000000,0.055436,0.099294,0.150744,0.425439
carry_share_L8,434.0,0.081889,0.161928,0.000000,0.000000,0.007875,0.039938,0.785375
in_10_share_L8,434.0,0.080789,0.094160,0.000000,0.017875,0.062202,0.096844,0.575125
yards_per_carry_L8,434.0,2.795262,3.186817,-12.000000,0.000000,2.033281,4.649425,23.000000
yards_per_reception_L8,434.0,9.839359,4.087796,0.000000,7.204647,10.387497,12.580256,26.500000
yards_per_target_L8,434.0,6.665610,2.617120,0.000000,5.419643,7.276440,7.983777,18.000000
wind,434.0,1.657891,2.081897,0.000000,0.000000,0.000000,4.000000,5.000000
div_game,434.0,0.076807,0.265262,0.000000,0.000000,0.000000,0.000000,1.000000
spread_line,434.0,-0.076355,4.207240,-6.500000,-3.000000,-1.000000,3.000000,6.500000
total_line,434.0,42.925921,4.860561,34.500000,40.000000,42.905543,47.500000,51.500000
outdoors,434.0,0.416204,0.491231,0.000000,0.000000,0.000000,1.000000,1.000000
grass,434.0,0.425554,0.492716,0.000000,0.000000,0.000000,1.000000,1.000000
home_team,434.0,0.502218,0.498264,0.000000,0.000000,0.507692,1.000000,1.000000
pred_total,434.0,21.424783,3.218483,15.750000,18.750000,22.250000,23.750000,27.250000
opp_total,434.0,21.501138,3.210035,15.750000,18.750000,22.250000,23.687500,27.250000
pos_RB,434.0,0.264943,0.441696,0.000000,0.000000,0.000000,1.000000,1.000000
pos_TE,434.0,0.269428,0.443884,0.000000,0.000000,0.000000,1.000000,1.000000
pos_WR,434.0,0.465629,0.499167,0.000000,0.000000,0.000000,1.000000,1.000000
qb_comp,430.0,18.387442,5.614361,4.375000,15.875000,20.125000,22.118750,26.125000
qb_att,430.0,28.642616,8.150961,6.375000,26.000000,31.500000,33.375000,38.750000
qb_yds,430.0,198.350465,63.669432,41.375000,163.000000,220.500000,243.875000,297.000000
qb_pass_td,430.0,1.072151,0.685087,0.000000,0.606250,1.000000,1.625000,2.500000
qb_int,430.0,0.612267,0.405001,0.000000,0.375000,0.500000,0.800000,2.000000
qb_comp_pct,430.0,0.639599,0.051684,0.511450,0.618421,0.652306,0.672655,0.748837
qb_yds_per_att,430.0,6.941682,1.116612,4.045455,6.488506,6.958065,7.788466,8.937008
qb_td_pct,430.0,0.037876,0.021870,0.000000,0.020188,0.036145,0.050000,0.093023
qb_int_pct,430.0,0.022392,0.012179,0.000000,0.013158,0.019685,0.030568,0.051948

In [92]:
#dk_flex_df[dk_flex_df.isna().any(axis = 1)]

In [ ]:
def change_value(df, name, feature, new_value):
    df.loc[df[name] == name, feature] = new_value
    return df

In [ ]:
change = input('Do you want to change any values in the QB dataframes? ')
while change == 'y':
    site = input('Which site? ')
    name = input('Which player? ')
    feature = input('Which feature? ')
    new_value = float(input('Enter new value '))
    if site == 'FD':
        fd_qb_df = change_value(fd_qb_df, name, feature, new_value)
    else:
        dk_qb_df = change_value(fd_qb_df, name, feature, new_value)
    change = ('Do you want to change any other values in the QB dataframes? ')

In [ ]:
change = input('Do you want to change any values in the FLEX dataframes? ')
while change == 'y':
    site = input('Which site? ')
    name = input('Which player? ')
    feature = input('Which feature? ')
    new_value = float(input('Enter new value '))
    if site == 'FD':
        fd_flex_df = change_value(fd_flex_df, name, feature, new_value)
    else:
        dk_flex_df = change_value(fd_flex_df, name, feature, new_value)
    change = ('Do you want to change any other values in the QB dataframes? ')

In [93]:
# dk_flex_df.loc[dk_flex_df['name'] == 'Sione Vaki', 'pos_RB'] = 1
# dk_flex_df.loc[dk_flex_df['name'] == 'Sione Vaki', 'pos_WR'] = 0
# dk_flex_df.loc[dk_flex_df['name'] == 'Sione Vaki', 'pos_TE'] = 0

# dk_flex_df.loc[dk_flex_df['name'] == 'Zach Wood', 'pos_RB'] = 0
# dk_flex_df.loc[dk_flex_df['name'] == 'Zach Wood', 'pos_WR'] = 0
# dk_flex_df.loc[dk_flex_df['name'] == 'Zach Wood', 'pos_TE'] = 1

# dk_flex_df.loc[dk_flex_df['name'] == 'Evan Deckers', 'pos_RB'] = 0
# dk_flex_df.loc[dk_flex_df['name'] == 'Evan Deckers', 'pos_WR'] = 0
# dk_flex_df.loc[dk_flex_df['name'] == 'Evan Deckers', 'pos_TE'] = 1

# dk_flex_df.loc[dk_flex_df['name'] == 'Malik Cunningham', 'pos_RB'] = 0
# dk_flex_df.loc[dk_flex_df['name'] == 'Malik Cunningham', 'pos_WR'] = 1
# dk_flex_df.loc[dk_flex_df['name'] == 'Malik Cunningham', 'pos_TE'] = 0

In [94]:
###Checking proper column order

In [95]:
fd_def_cols = list(fd_def_df.columns)
dk_def_cols = list(dk_def_df.columns)
fd_qb_cols = list(fd_qb_df.columns)
dk_qb_cols = list(dk_qb_df.columns)
fd_flex_cols = list(fd_flex_df.columns)
dk_flex_cols = list(dk_flex_df.columns)

In [96]:
def_x_cols = ['spread_line',
 'home_team',
 'outdoors',
 'grass',
 'total_line',
 'opp_total',
 'opp_vs_def_L8',
 'opp_vs_def_L8_lin',
 'opp_vs_def_L8_exp']

In [97]:
qb_x_cols = ['FD_Pts_DvP', 'DK_Pts_DvP', 'QB_role', 'completions_L8', 'attempts_L8',
       'passing_yards_L8', 'passing_tds_L8', 'interceptions_L8', 'sacks_L8',
       'passing_air_yards_L8', 'pacr_L8', 'carries_L8', 'rushing_yards_L8',
       'rushing_tds_L8', 'comp_pct', 'yds_per_attempt', 'td_pct', 'sack_pct',
       'int_pct', 'wind', 'div_game', 'spread_line', 'total_line', 'outdoors',
       'grass', 'home_team', 'pred_total', 'opp_total']

In [98]:
flex_x_cols = ['DK_Pts_RB_DvP', 'DK_Pts_TE_DvP', 'DK_Pts_WR_DvP', 'FD_Pts_RB_DvP',
       'FD_Pts_TE_DvP', 'FD_Pts_WR_DvP', 'rushing_yards_L8', 'rushing_tds_L8',
       'rushing_fumbles_lost_L8', 'receptions_L8', 'receiving_yards_L8',
       'receiving_tds_L8', 'receiving_fumbles_lost_L8', 'targets_L8',
       'carries_L8', 'receiving_yards_after_catch_L8',
       'receiving_air_yards_L8', 'target_share_L8', 'carry_share_L8',
       'in_10_share_L8', 'yards_per_carry_L8', 'yards_per_reception_L8',
       'yards_per_target_L8', 'wind', 'div_game', 'spread_line', 'total_line',
       'outdoors', 'grass', 'home_team', 'pred_total', 'opp_total', 'qb_comp',
       'qb_att', 'qb_yds', 'qb_pass_td', 'qb_int', 'qb_comp_pct',
       'qb_yds_per_att', 'qb_td_pct', 'qb_int_pct', 'pos_RB', 'pos_TE',
       'pos_WR']

In [99]:
fd_qb_df.head()

,name,team,position,salary,opponent,status,season,week,FD_Pts_DvP,DK_Pts_DvP,...,int_pct,wind,div_game,spread_line,total_line,outdoors,grass,home_team,pred_total,opp_total
0,Lamar Jackson,BAL,QB,8800,DAL,Active,2024,3,15.3100,15.5600,...,0.015564,0,0,1.5,47.5,0,0,0,24.50,23.00
1,Patrick Mahomes,KC,QB,8700,ATL,Active,2024,3,17.9225,18.2975,...,0.018182,0,0,3.0,46.5,0,0,0,24.75,21.75
2,Jalen Hurts,PHI,QB,8500,NO,Active,2024,3,14.7625,15.7625,...,0.034188,0,0,-2.5,49.5,0,0,0,23.50,26.00
3,Kyler Murray,ARI,QB,8300,DET,Active,2024,3,20.8225,23.0725,...,0.011628,0,0,-3.0,51.5,0,1,1,24.25,27.25
4,C.J. Stroud,HOU,QB,8200,MIN,Active,2024,3,15.4100,16.9100,...,0.000000,0,0,1.5,45.5,0,1,0,23.50,22.00

In [100]:
dk_qb_df.head()

,name,team,position,salary,opponent,status,season,week,FD_Pts_DvP,DK_Pts_DvP,...,int_pct,wind,div_game,spread_line,total_line,outdoors,grass,home_team,pred_total,opp_total
0,Lamar Jackson,BAL,QB,7500,DAL,Active,2024,3,15.3100,15.5600,...,0.015564,0,0,1.0,47.5,0,0,0,24.25,23.25
1,Jalen Hurts,PHI,QB,7300,NO,Active,2024,3,14.7625,15.7625,...,0.034188,0,0,-3.0,49.5,0,0,0,23.25,26.25
2,C.J. Stroud,HOU,QB,7100,MIN,Active,2024,3,15.4100,16.9100,...,0.000000,0,0,1.5,46.0,0,1,0,23.75,22.25
3,Kyler Murray,ARI,QB,6900,DET,Active,2024,3,20.8225,23.0725,...,0.011628,0,0,-3.0,51.5,0,1,1,24.25,27.25
4,Anthony Richardson,IND,QB,6700,CHI,Active,2024,3,14.3400,15.4650,...,0.040000,0,0,1.0,43.5,0,0,1,22.25,21.25

In [101]:
fd_def_df.head()

,position,salary,team,opponent,week,season,spread_line,home_team,outdoors,grass,total_line,opp_total,opp_vs_def_L8,opp_vs_def_L8_lin,opp_vs_def_L8_exp,name,status
0,D,5000,LV,CAR,3,2024,6.5,1,0,0,39.5,16.50,12.000,13.24,12.680,LV,Active
1,D,4900,CLE,NYG,3,2024,6.5,1,1,1,38.5,16.00,9.000,9.72,9.420,CLE,Active
2,D,4800,PIT,LAC,3,2024,3.0,1,1,1,34.5,15.75,10.125,8.09,6.955,PIT,Active
3,D,4700,TB,DEN,3,2024,6.5,1,1,1,40.5,17.00,8.375,9.68,9.800,TB,Active
4,D,4600,SEA,MIA,3,2024,4.5,1,1,0,42.5,19.00,8.125,10.34,10.640,SEA,Active

In [102]:
dk_def_df.head()

,position,salary,team,opponent,week,season,spread_line,home_team,outdoors,grass,total_line,opp_total,opp_vs_def_L8,opp_vs_def_L8_lin,opp_vs_def_L8_exp,name,status
0,D,3800,CLE,NYG,3,2024,6.5,1,1,1,38.0,15.75,9.000,9.72,9.420,CLE,Active
1,D,3700,LV,CAR,3,2024,6.0,1,0,0,40.0,17.00,12.000,13.24,12.680,LV,Active
2,D,3600,LAC,PIT,3,2024,-3.0,0,1,1,34.5,18.75,5.250,5.07,4.975,LAC,Active
3,D,3500,SEA,MIA,3,2024,4.5,1,1,0,42.0,18.75,8.125,10.34,10.640,SEA,Active
4,D,3500,SF,LAR,3,2024,6.5,0,0,0,43.0,18.25,6.375,7.05,7.175,SF,Active

In [103]:
fd_flex_df.head()

,name,team,position,salary,opponent,status,season,week,DK_Pts_RB_DvP,DK_Pts_TE_DvP,...,pos_WR,qb_comp,qb_att,qb_yds,qb_pass_td,qb_int,qb_comp_pct,qb_yds_per_att,qb_td_pct,qb_int_pct
0,CeeDee Lamb,DAL,WR,9300,BAL,Active,2024,3,22.7500,16.0250,...,1,26.125,38.750,269.625,1.875,0.875,0.674194,6.958065,0.048387,0.022581
1,Justin Jefferson,MIN,WR,9200,HOU,Active,2024,3,18.6875,11.7375,...,1,7.875,11.875,96.500,0.750,0.375,0.663158,8.126316,0.063158,0.031579
2,Amon-Ra St. Brown,DET,WR,9100,ARI,Active,2024,3,27.7100,12.8375,...,1,25.125,37.500,276.125,1.125,0.625,0.670000,7.363333,0.030000,0.016667
3,Tyreek Hill,MIA,WR,9000,SEA,Active,2024,3,27.3350,14.6000,...,1,8.375,16.375,83.500,0.250,0.500,0.511450,5.099237,0.015267,0.030534
4,Saquon Barkley,PHI,RB,8700,NO,Active,2024,3,19.2875,11.3000,...,0,19.000,29.250,196.750,1.000,1.000,0.649573,6.726496,0.034188,0.034188

In [104]:
dk_flex_df.head()

,name,team,position,salary,opponent,status,season,week,DK_Pts_RB_DvP,DK_Pts_TE_DvP,...,pos_WR,qb_comp,qb_att,qb_yds,qb_pass_td,qb_int,qb_comp_pct,qb_yds_per_att,qb_td_pct,qb_int_pct
0,CeeDee Lamb,DAL,WR,8800,BAL,Active,2024.0,3,22.7500,16.0250,...,1.0,26.125,38.750,269.625,1.875,0.875,0.674194,6.958065,0.048387,0.022581
1,Justin Jefferson,MIN,WR,8600,HOU,Active,2024.0,3,18.6875,11.7375,...,1.0,7.875,11.875,96.500,0.750,0.375,0.663158,8.126316,0.063158,0.031579
2,Tyreek Hill,MIA,WR,8400,SEA,Active,2024.0,3,27.3350,14.6000,...,1.0,8.375,16.375,83.500,0.250,0.500,0.511450,5.099237,0.015267,0.030534
3,Amon-Ra St. Brown,DET,WR,8200,ARI,Active,2024.0,3,27.7100,12.8375,...,1.0,25.125,37.500,276.125,1.125,0.625,0.670000,7.363333,0.030000,0.016667
4,Saquon Barkley,PHI,RB,7700,NO,Active,2024.0,3,19.2875,11.3000,...,0.0,19.000,29.250,196.750,1.000,1.000,0.649573,6.726496,0.034188,0.034188

In [105]:
fd_def_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   position           26 non-null     object
 1   salary             26 non-null     int64
 2   team               26 non-null     object
 3   opponent           26 non-null     object
 4   week               26 non-null     int64
 5   season             26 non-null     int64
 6   spread_line        26 non-null     float64
 7   home_team          26 non-null     int64
 8   outdoors           26 non-null     int64
 9   grass              26 non-null     int64
 10  total_line         26 non-null     float64
 11  opp_total          26 non-null     float64
 12  opp_vs_def_L8      26 non-null     float64
 13  opp_vs_def_L8_lin  26 non-null     float64
 14  opp_vs_def_L8_exp  26 non-null     float64
 15  name               26 non-null     object
 16  status             26 non-null     object
dtypes: float64(6), int64(6), object(5)
memory usage: 3.6+ KB

In [106]:
dk_def_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   position           24 non-null     object
 1   salary             24 non-null     int64
 2   team               24 non-null     object
 3   opponent           24 non-null     object
 4   week               24 non-null     int64
 5   season             24 non-null     int64
 6   spread_line        24 non-null     float64
 7   home_team          24 non-null     int64
 8   outdoors           24 non-null     int64
 9   grass              24 non-null     int64
 10  total_line         24 non-null     float64
 11  opp_total          24 non-null     float64
 12  opp_vs_def_L8      24 non-null     float64
 13  opp_vs_def_L8_lin  24 non-null     float64
 14  opp_vs_def_L8_exp  24 non-null     float64
 15  name               24 non-null     object
 16  status             24 non-null     object
dtypes: float64(6), int64(6), object(5)
memory usage: 3.3+ KB

In [107]:
fd_qb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  104 non-null    object
 1   team                  104 non-null    object
 2   position              104 non-null    object
 3   salary                104 non-null    int64
 4   opponent              104 non-null    object
 5   status                104 non-null    object
 6   season                104 non-null    int64
 7   week                  104 non-null    int64
 8   FD_Pts_DvP            104 non-null    float64
 9   DK_Pts_DvP            104 non-null    float64
 10  QB_role               104 non-null    float64
 11  completions_L8        104 non-null    float64
 12  attempts_L8           104 non-null    float64
 13  passing_yards_L8      104 non-null    float64
 14  passing_tds_L8        104 non-null    float64
 15  interceptions_L8      104 non-null    float64
 16  sacks_L8              104 non-null    float64
 17  passing_air_yards_L8  104 non-null    float64
 18  pacr_L8               104 non-null    float64
 19  carries_L8            104 non-null    float64
 20  rushing_yards_L8      104 non-null    float64
 21  rushing_tds_L8        104 non-null    float64
 22  comp_pct              104 non-null    float64
 23  yds_per_attempt       104 non-null    float64
 24  td_pct                104 non-null    float64
 25  sack_pct              104 non-null    float64
 26  int_pct               104 non-null    float64
 27  wind                  104 non-null    int64
 28  div_game              104 non-null    int64
 29  spread_line           104 non-null    float64
 30  total_line            104 non-null    float64
 31  outdoors              104 non-null    int64
 32  grass                 104 non-null    int64
 33  home_team             104 non-null    int64
 34  pred_total            104 non-null    float64
 35  opp_total             104 non-null    float64
dtypes: float64(23), int64(8), object(5)
memory usage: 29.4+ KB

In [108]:
dk_qb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  74 non-null     object
 1   team                  74 non-null     object
 2   position              74 non-null     object
 3   salary                74 non-null     int64
 4   opponent              74 non-null     object
 5   status                74 non-null     object
 6   season                74 non-null     int64
 7   week                  74 non-null     int64
 8   FD_Pts_DvP            74 non-null     float64
 9   DK_Pts_DvP            74 non-null     float64
 10  QB_role               74 non-null     float64
 11  completions_L8        74 non-null     float64
 12  attempts_L8           74 non-null     float64
 13  passing_yards_L8      74 non-null     float64
 14  passing_tds_L8        74 non-null     float64
 15  interceptions_L8      74 non-null     float64
 16  sacks_L8              74 non-null     float64
 17  passing_air_yards_L8  74 non-null     float64
 18  pacr_L8               74 non-null     float64
 19  carries_L8            74 non-null     float64
 20  rushing_yards_L8      74 non-null     float64
 21  rushing_tds_L8        74 non-null     float64
 22  comp_pct              74 non-null     float64
 23  yds_per_attempt       74 non-null     float64
 24  td_pct                74 non-null     float64
 25  sack_pct              74 non-null     float64
 26  int_pct               74 non-null     float64
 27  wind                  74 non-null     int64
 28  div_game              74 non-null     int64
 29  spread_line           74 non-null     float64
 30  total_line            74 non-null     float64
 31  outdoors              74 non-null     int64
 32  grass                 74 non-null     int64
 33  home_team             74 non-null     int64
 34  pred_total            74 non-null     float64
 35  opp_total             74 non-null     float64
dtypes: float64(23), int64(8), object(5)
memory usage: 20.9+ KB

In [109]:
fd_flex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 52 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            688 non-null    object
 1   team                            688 non-null    object
 2   position                        688 non-null    object
 3   salary                          688 non-null    int64
 4   opponent                        688 non-null    object
 5   status                          688 non-null    object
 6   season                          688 non-null    int64
 7   week                            688 non-null    int64
 8   DK_Pts_RB_DvP                   688 non-null    float64
 9   DK_Pts_TE_DvP                   688 non-null    float64
 10  DK_Pts_WR_DvP                   688 non-null    float64
 11  FD_Pts_RB_DvP                   688 non-null    float64
 12  FD_Pts_TE_DvP                   688 non-null    float64
 13  FD_Pts_WR_DvP                   688 non-null    float64
 14  rushing_yards_L8                688 non-null    float64
 15  rushing_tds_L8                  688 non-null    float64
 16  rushing_fumbles_lost_L8         688 non-null    float64
 17  receptions_L8                   688 non-null    float64
 18  receiving_yards_L8              688 non-null    float64
 19  receiving_tds_L8                688 non-null    float64
 20  receiving_fumbles_lost_L8       688 non-null    float64
 21  targets_L8                      688 non-null    float64
 22  carries_L8                      688 non-null    float64
 23  receiving_yards_after_catch_L8  688 non-null    float64
 24  receiving_air_yards_L8          688 non-null    float64
 25  target_share_L8                 688 non-null    float64
 26  carry_share_L8                  688 non-null    float64
 27  in_10_share_L8                  688 non-null    float64
 28  yards_per_carry_L8              688 non-null    float64
 29  yards_per_reception_L8          688 non-null    float64
 30  yards_per_target_L8             688 non-null    float64
 31  wind                            688 non-null    int64
 32  div_game                        688 non-null    int64
 33  spread_line                     688 non-null    float64
 34  total_line                      688 non-null    float64
 35  outdoors                        688 non-null    int64
 36  grass                           688 non-null    int64
 37  home_team                       688 non-null    int64
 38  pred_total                      688 non-null    float64
 39  opp_total                       688 non-null    float64
 40  pos_RB                          688 non-null    int64
 41  pos_TE                          688 non-null    int64
 42  pos_WR                          688 non-null    int64
 43  qb_comp                         688 non-null    float64
 44  qb_att                          688 non-null    float64
 45  qb_yds                          688 non-null    float64
 46  qb_pass_td                      688 non-null    float64
 47  qb_int                          688 non-null    float64
 48  qb_comp_pct                     688 non-null    float64
 49  qb_yds_per_att                  688 non-null    float64
 50  qb_td_pct                       688 non-null    float64
 51  qb_int_pct                      688 non-null    float64
dtypes: float64(36), int64(11), object(5)
memory usage: 279.6+ KB

In [110]:
dk_flex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 52 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            434 non-null    object
 1   team                            434 non-null    object
 2   position                        434 non-null    object
 3   salary                          434 non-null    int64
 4   opponent                        434 non-null    object
 5   status                          434 non-null    object
 6   season                          430 non-null    float64
 7   week                            434 non-null    int64
 8   DK_Pts_RB_DvP                   434 non-null    float64
 9   DK_Pts_TE_DvP                   434 non-null    float64
 10  DK_Pts_WR_DvP                   434 non-null    float64
 11  FD_Pts_RB_DvP                   434 non-null    float64
 12  FD_Pts_TE_DvP                   434 non-null    float64
 13  FD_Pts_WR_DvP                   434 non-null    float64
 14  rushing_yards_L8                434 non-null    float64
 15  rushing_tds_L8                  434 non-null    float64
 16  rushing_fumbles_lost_L8         434 non-null    float64
 17  receptions_L8                   434 non-null    float64
 18  receiving_yards_L8              434 non-null    float64
 19  receiving_tds_L8                434 non-null    float64
 20  receiving_fumbles_lost_L8       434 non-null    float64
 21  targets_L8                      434 non-null    float64
 22  carries_L8                      434 non-null    float64
 23  receiving_yards_after_catch_L8  434 non-null    float64
 24  receiving_air_yards_L8          434 non-null    float64
 25  target_share_L8                 434 non-null    float64
 26  carry_share_L8                  434 non-null    float64
 27  in_10_share_L8                  434 non-null    float64
 28  yards_per_carry_L8              434 non-null    float64
 29  yards_per_reception_L8          434 non-null    float64
 30  yards_per_target_L8             434 non-null    float64
 31  wind                            434 non-null    float64
 32  div_game                        434 non-null    float64
 33  spread_line                     434 non-null    float64
 34  total_line                      434 non-null    float64
 35  outdoors                        434 non-null    float64
 36  grass                           434 non-null    float64
 37  home_team                       434 non-null    float64
 38  pred_total                      434 non-null    float64
 39  opp_total                       434 non-null    float64
 40  pos_RB                          434 non-null    float64
 41  pos_TE                          434 non-null    float64
 42  pos_WR                          434 non-null    float64
 43  qb_comp                         430 non-null    float64
 44  qb_att                          430 non-null    float64
 45  qb_yds                          430 non-null    float64
 46  qb_pass_td                      430 non-null    float64
 47  qb_int                          430 non-null    float64
 48  qb_comp_pct                     430 non-null    float64
 49  qb_yds_per_att                  430 non-null    float64
 50  qb_td_pct                       430 non-null    float64
 51  qb_int_pct                      430 non-null    float64
dtypes: float64(45), int64(2), object(5)
memory usage: 176.4+ KB

In [111]:
dk_flex_df[dk_flex_df.isna().any(axis = 1)]

,name,team,position,salary,opponent,status,season,week,DK_Pts_RB_DvP,DK_Pts_TE_DvP,...,pos_WR,qb_comp,qb_att,qb_yds,qb_pass_td,qb_int,qb_comp_pct,qb_yds_per_att,qb_td_pct,qb_int_pct
172,Sione Vaki,DET,RB,4000,ARI,Active,NaN,3,22.843703,12.117763,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,Malik Cunningham,BAL,WR,3000,DAL,Active,NaN,3,22.758710,12.265297,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,Zach Wood,NO,TE,2500,PHI,Active,NaN,3,22.402692,12.280865,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,Evan Deckers,TB,TE,2500,DEN,Active,NaN,3,22.402692,12.280865,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
dk_flex_df = dk_flex_df.dropna()

In [113]:
dk_flex_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 430 entries, 0 to 433
Data columns (total 52 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            430 non-null    object
 1   team                            430 non-null    object
 2   position                        430 non-null    object
 3   salary                          430 non-null    int64
 4   opponent                        430 non-null    object
 5   status                          430 non-null    object
 6   season                          430 non-null    float64
 7   week                            430 non-null    int64
 8   DK_Pts_RB_DvP                   430 non-null    float64
 9   DK_Pts_TE_DvP                   430 non-null    float64
 10  DK_Pts_WR_DvP                   430 non-null    float64
 11  FD_Pts_RB_DvP                   430 non-null    float64
 12  FD_Pts_TE_DvP                   430 non-null    float64
 13  FD_Pts_WR_DvP                   430 non-null    float64
 14  rushing_yards_L8                430 non-null    float64
 15  rushing_tds_L8                  430 non-null    float64
 16  rushing_fumbles_lost_L8         430 non-null    float64
 17  receptions_L8                   430 non-null    float64
 18  receiving_yards_L8              430 non-null    float64
 19  receiving_tds_L8                430 non-null    float64
 20  receiving_fumbles_lost_L8       430 non-null    float64
 21  targets_L8                      430 non-null    float64
 22  carries_L8                      430 non-null    float64
 23  receiving_yards_after_catch_L8  430 non-null    float64
 24  receiving_air_yards_L8          430 non-null    float64
 25  target_share_L8                 430 non-null    float64
 26  carry_share_L8                  430 non-null    float64
 27  in_10_share_L8                  430 non-null    float64
 28  yards_per_carry_L8              430 non-null    float64
 29  yards_per_reception_L8          430 non-null    float64
 30  yards_per_target_L8             430 non-null    float64
 31  wind                            430 non-null    float64
 32  div_game                        430 non-null    float64
 33  spread_line                     430 non-null    float64
 34  total_line                      430 non-null    float64
 35  outdoors                        430 non-null    float64
 36  grass                           430 non-null    float64
 37  home_team                       430 non-null    float64
 38  pred_total                      430 non-null    float64
 39  opp_total                       430 non-null    float64
 40  pos_RB                          430 non-null    float64
 41  pos_TE                          430 non-null    float64
 42  pos_WR                          430 non-null    float64
 43  qb_comp                         430 non-null    float64
 44  qb_att                          430 non-null    float64
 45  qb_yds                          430 non-null    float64
 46  qb_pass_td                      430 non-null    float64
 47  qb_int                          430 non-null    float64
 48  qb_comp_pct                     430 non-null    float64
 49  qb_yds_per_att                  430 non-null    float64
 50  qb_td_pct                       430 non-null    float64
 51  qb_int_pct                      430 non-null    float64
dtypes: float64(45), int64(2), object(5)
memory usage: 178.0+ KB

In [114]:
fd_def_df = fd_def_df.set_index(['name', 'team', 'position', 'salary', 'opponent', 'status', 'season', 'week'])
dk_def_df = dk_def_df.set_index(['name', 'team', 'position', 'salary', 'opponent', 'status', 'season', 'week'])
fd_qb_df = fd_qb_df.set_index(['name', 'team', 'position', 'salary', 'opponent', 'status', 'season', 'week'])
dk_qb_df = dk_qb_df.set_index(['name', 'team', 'position', 'salary', 'opponent', 'status', 'season', 'week'])
fd_flex_df = fd_flex_df.set_index(['name', 'team', 'position', 'salary', 'opponent', 'status', 'season', 'week'])
dk_flex_df = dk_flex_df.set_index(['name', 'team', 'position', 'salary', 'opponent', 'status', 'season', 'week'])

In [115]:
fd_flex_df = fd_flex_df[flex_x_cols]
dk_flex_df = dk_flex_df[flex_x_cols]
fd_qb_df = fd_qb_df[qb_x_cols]
dk_qb_df = dk_qb_df[qb_x_cols]
fd_def_df = fd_def_df[def_x_cols]
dk_def_df = dk_def_df[def_x_cols]

In [116]:
fd_flex_df.head()

,,,,,,,,DK_Pts_RB_DvP,DK_Pts_TE_DvP,DK_Pts_WR_DvP,FD_Pts_RB_DvP,FD_Pts_TE_DvP,FD_Pts_WR_DvP,rushing_yards_L8,rushing_tds_L8,rushing_fumbles_lost_L8,receptions_L8,...,qb_yds,qb_pass_td,qb_int,qb_comp_pct,qb_yds_per_att,qb_td_pct,qb_int_pct,pos_RB,pos_TE,pos_WR
name,team,position,salary,opponent,status,season,week,,,,,,,,,,,,,,,,,,,,,
CeeDee Lamb,DAL,WR,9300,BAL,Active,2024,3,22.7500,16.0250,30.8500,18.4375,11.9000,24.3500,7.375,0.125,0.000,7.875,...,269.625,1.875,0.875,0.674194,6.958065,0.048387,0.022581,0,0,1
Justin Jefferson,MIN,WR,9200,HOU,Active,2024,3,18.6875,11.7375,30.9500,16.3125,9.3000,24.7625,-1.500,0.000,0.000,5.375,...,96.500,0.750,0.375,0.663158,8.126316,0.063158,0.031579,0,0,1
Amon-Ra St. Brown,DET,WR,9100,ARI,Active,2024,3,27.7100,12.8375,28.4875,24.2725,10.5250,23.4875,1.625,0.000,0.000,7.625,...,276.125,1.125,0.625,0.670000,7.363333,0.030000,0.016667,0,0,1
Tyreek Hill,MIA,WR,9000,SEA,Active,2024,3,27.3350,14.6000,31.3625,24.0225,11.7250,23.9875,1.000,0.000,0.000,5.750,...,83.500,0.250,0.500,0.511450,5.099237,0.015267,0.030534,0,0,1
Saquon Barkley,PHI,RB,8700,NO,Active,2024,3,19.2875,11.3000,33.2500,16.0375,8.6125,27.1250,64.375,0.875,0.125,2.500,...,196.750,1.000,1.000,0.649573,6.726496,0.034188,0.034188,1,0,0

In [123]:
dk_flex_df.head()

,,,,,,,,DK_Pts_RB_DvP,DK_Pts_TE_DvP,DK_Pts_WR_DvP,FD_Pts_RB_DvP,FD_Pts_TE_DvP,FD_Pts_WR_DvP,rushing_yards_L8,rushing_tds_L8,rushing_fumbles_lost_L8,receptions_L8,...,qb_yds,qb_pass_td,qb_int,qb_comp_pct,qb_yds_per_att,qb_td_pct,qb_int_pct,pos_RB,pos_TE,pos_WR
name,team,position,salary,opponent,status,season,week,,,,,,,,,,,,,,,,,,,,,
CeeDee Lamb,DAL,WR,8800,BAL,Active,2024.0,3,22.7500,16.0250,30.8500,18.4375,11.9000,24.3500,7.375,0.125,0.000,7.875,...,269.625,1.875,0.875,0.674194,6.958065,0.048387,0.022581,0.0,0.0,1.0
Justin Jefferson,MIN,WR,8600,HOU,Active,2024.0,3,18.6875,11.7375,30.9500,16.3125,9.3000,24.7625,-1.500,0.000,0.000,5.375,...,96.500,0.750,0.375,0.663158,8.126316,0.063158,0.031579,0.0,0.0,1.0
Tyreek Hill,MIA,WR,8400,SEA,Active,2024.0,3,27.3350,14.6000,31.3625,24.0225,11.7250,23.9875,1.000,0.000,0.000,5.750,...,83.500,0.250,0.500,0.511450,5.099237,0.015267,0.030534,0.0,0.0,1.0
Amon-Ra St. Brown,DET,WR,8200,ARI,Active,2024.0,3,27.7100,12.8375,28.4875,24.2725,10.5250,23.4875,1.625,0.000,0.000,7.625,...,276.125,1.125,0.625,0.670000,7.363333,0.030000,0.016667,0.0,0.0,1.0
Saquon Barkley,PHI,RB,7700,NO,Active,2024.0,3,19.2875,11.3000,33.2500,16.0375,8.6125,27.1250,64.375,0.875,0.125,2.500,...,196.750,1.000,1.000,0.649573,6.726496,0.034188,0.034188,1.0,0.0,0.0

In [124]:
fd_def_df.head()

,,,,,,,,spread_line,home_team,outdoors,grass,total_line,opp_total,opp_vs_def_L8,opp_vs_def_L8_lin,opp_vs_def_L8_exp
name,team,position,salary,opponent,status,season,week,,,,,,,,,
LV,LV,D,5000,CAR,Active,2024,3,6.5,1,0,0,39.5,16.50,12.000,13.24,12.680
CLE,CLE,D,4900,NYG,Active,2024,3,6.5,1,1,1,38.5,16.00,9.000,9.72,9.420
PIT,PIT,D,4800,LAC,Active,2024,3,3.0,1,1,1,34.5,15.75,10.125,8.09,6.955
TB,TB,D,4700,DEN,Active,2024,3,6.5,1,1,1,40.5,17.00,8.375,9.68,9.800
SEA,SEA,D,4600,MIA,Active,2024,3,4.5,1,1,0,42.5,19.00,8.125,10.34,10.640

In [125]:
dk_def_df.head()

,,,,,,,,spread_line,home_team,outdoors,grass,total_line,opp_total,opp_vs_def_L8,opp_vs_def_L8_lin,opp_vs_def_L8_exp
name,team,position,salary,opponent,status,season,week,,,,,,,,,
CLE,CLE,D,3800,NYG,Active,2024,3,6.5,1,1,1,38.0,15.75,9.000,9.72,9.420
LV,LV,D,3700,CAR,Active,2024,3,6.0,1,0,0,40.0,17.00,12.000,13.24,12.680
LAC,LAC,D,3600,PIT,Active,2024,3,-3.0,0,1,1,34.5,18.75,5.250,5.07,4.975
SEA,SEA,D,3500,MIA,Active,2024,3,4.5,1,1,0,42.0,18.75,8.125,10.34,10.640
SF,SF,D,3500,LAR,Active,2024,3,6.5,0,0,0,43.0,18.25,6.375,7.05,7.175

In [117]:
list(fd_def_df.columns) == def_x_cols

True

In [118]:
list(dk_def_df.columns) == def_x_cols

True

In [119]:
list(fd_qb_df.columns) == qb_x_cols

True

In [120]:
list(dk_qb_df.columns) == qb_x_cols

True

In [121]:
list(fd_flex_df.columns) == flex_x_cols

True

In [122]:
list(dk_flex_df.columns) == flex_x_cols

True

In [126]:
pd.set_option('display.max_rows', None)

In [128]:
change_datasets = input('Did dataset values change? ')
if change_datasets == 'y':
    fd_flex_df.to_csv('FD_FLEX_for_model_' + str(season) + '_' + str(week) + '.csv')
    dk_flex_df.to_csv('DK_FLEX_for_model_' + str(season) + '_' + str(week) + '.csv')
    fd_qb_df.to_csv('FD_qb_for_model_' + str(season) + '_' + str(week) + '.csv')
    dk_qb_df.to_csv('DK_qb_for_model_' + str(season) + '_' + str(week) + '.csv')
    fd_def_df.to_csv('FD_def_for_model_' + str(season) + '_' + str(week) + '.csv')
    dk_def_df.to_csv('DK_def_for_model_' + str(season) + '_' + str(week) + '.csv')

Did dataset values change?  y